<header class="global-header">
    <span role="status" aria-live="polite"></span>
    {% include access_control_banner.html %}
    <nav id="global-nav" aria-label="Main">
        <div class="global-nav__inner l-center js-nav-with-intro">
            <a class="logo-link" href="/" hreflang="en">
                <span class="logo">
                    <img src="https://images.squarespace-cdn.com/content/v1/5a8b405a18b27d5478196dca/1519516157047-SEXXTK3RTI88VIZWLOYY/favicon.ico?format=100w" alt="W3C" role="img"/>
                </span>
                <span class="visuallyhidden">Return to the Socially Responsible Tech Homepage</span>
            </a>
        </div>
    </nav>
</header>
