<header class="global-header">
    <span role="status" aria-live="polite"></span>
    {% include access_control_banner.html %}
    <nav id="global-nav" aria-label="Main">
        <div class="global-nav__inner l-center">
            <a class="logo-link" href="/" hreflang="en">
                <span class="logo">
                    <img src="https://images.squarespace-cdn.com/content/v1/5a8b405a18b27d5478196dca/1519516157047-SEXXTK3RTI88VIZWLOYY/favicon.ico?format=100w" alt="W3C" role="img"/>
                </span>
                <span class="visuallyhidden">Return to the Socially Responsible Tech Homepage</span>
            </a>

            <button type="button" class="button button--ghost with-icon--after with-icon--larger" data-trigger="mobile-nav"
                    style="display: none;"></button>

            <ul data-component="nav-double-intro">
                <li class="top-nav-item has-children">
                    <a href="https://www.w3.org/about/" class="nav-link">About</a>
                    <div class="nav__submenu" data-nav="submenu" style="display: none;">
                        <div class="l-center">
                            <div class="nav__submenu__intro">
                                <h2 class="nav__submenu__intro__heading">About</h2>
                                <div class="nav__submenu__intro__text">
                                    <p>Understand our values and principles, learn our history, look into our policies, meet our people.</p>
                                    <a href="https://www.w3.org/about/">Find out more about us</a>
                                </div>
                            </div>
                            <ul>
                                <li >
                                    <a href="https://www.w3.org/mission/">Our mission</a>
                                </li>
                                <li >
                                    <a href="https://www.w3.org/about/leadership/">Leadership</a>
                                </li>
                                <li >
                                    <a href="https://www.w3.org/staff/">Staff</a>
                                </li>
                                <li >
                                    <a href="https://www.w3.org/evangelists/">Evangelists</a>
                                </li>
                                <li class="break-after">
                                    <a href="https://www.w3.org/careers/">Careers</a>
                                </li>
                                <li >
                                    <a href="https://www.w3.org/about/diversity/">Diversity</a>
                                </li>
                                <li >
                                    <a href="https://www.w3.org/about/corporation/">Corporation</a>
                                </li>
                                <li >
                                    <a href="https://www.w3.org/sponsor/">Sponsoring W3C</a>
                                </li>
                                <li >
                                    <a href="https://www.w3.org/about/press-media/">Media kit</a>
                                </li>
                                <li >
                                    <a href="https://www.w3.org/contact/">Contact</a>
                                </li>
                                <li >
                                    <a href="https://www.w3.org/policies/">Policies &amp; legal information</a>
                                </li>
                                <li >
                                    <a href="https://www.w3.org/help/">Help</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="top-nav-item has-children">
                    <a href="https://www.w3.org/groups/" class="nav-link">Projects</a>
                    <div class="nav__submenu" data-nav="submenu" style="display: none;">
                        <div class="l-center">
                            <div class="nav__submenu__intro">
                                <h2 class="nav__submenu__intro__heading">Projects</h2>
                                <div class="nav__submenu__intro__text">
                                    <p>A summary of existing projects, including those that have been completed and those that are ongoing.</p>
                                    <a href="/projects">About SRT Projects</a>
                                </div>
                            </div>
                            <ul>
                                
                            </ul>
                         </div>
                    </div>
                </li>
                <li class="top-nav-item has-children">
                    <a href="https://www.w3.org/resources/" class="nav-link">Resources</a>
                    <div class="nav__submenu" data-nav="submenu" style="display: none;">
                        <div class="l-center">
                            <div class="nav__submenu__intro">
                                <h2 class="nav__submenu__intro__heading">Resources</h2>
                                <div class="nav__submenu__intro__text">
                                    <p>Master Web fundamentals, use our developer tools, or contribute code.</p>
                                    <a href="https://www.w3.org/resources/">Learn from W3C resources</a>
                                </div>
                            </div>
                            <ul>
                                
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="top-nav-item has-children">
                    <a href="https://www.w3.org/news-events/" class="nav-link">News &amp; events</a>
                    <div class="nav__submenu" data-nav="submenu" style="display: none;">
                        <div class="l-center">
                            <div class="nav__submenu__intro">
                                <h2 class="nav__submenu__intro__heading">News &amp; events</h2>
                                <div class="nav__submenu__intro__text">
                                    <p>Recent content across news, blogs, press releases, media; upcoming events.</p>
                                    <a href="https://www.w3.org/news-events/">Follow news &amp; events</a>
                                </div>
                            </div>
                            <ul>

                            </ul>
                        </div>
                    </div>
                </li>
                <li class="top-nav-item has-children">
                    <a href="/involvement" class="nav-link">Get involved</a>
                    <div class="nav__submenu" data-nav="submenu" style="display: none;">
                        <div class="l-center">
                            <div class="nav__submenu__intro">
                                <h2 class="nav__submenu__intro__heading">Get involved</h2>
                                <div class="nav__submenu__intro__text">
                                    <p>The SRT Lab is always looking for new members, collaborators, and others interested in working with us</p>
                                    <a href="/involvement">Find ways to get involved</a>
                                </div>
                            </div>
                            <ul>
                                
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>    
</header>
